.App {
    height: 100%;
    width: 100%;
}

.App-content {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    margin: 0 auto;
}

.App-table {
    border-collapse: collapse;
}

.App-table td, th {
    border: 1px solid #3BFF00;
    padding: 5px 7px;
}
.App-table th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.App-ignore td, .ignore td {
    border: none;
    border-spacing: 10px;
}

.App-sort p, .App-sort select, .App-sort option {
    margin: auto;
    width: 50%;
    padding: 10px;

}

.App-show-filters-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    color: inherit;
    font-size: 17px;
    background: #001A0A;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px 15px;
    outline: 0;
    opacity: 0.7;
    transition: all 0.1s;
    cursor: pointer;
}
.App-show-filters-btn:hover,
.App-show-filters-btn:focus {
    border-color: #3BFF00;
    opacity: 1;
    transform: scale(1.1) translateX(5px);
}
.App-filters {
    position: fixed;
    top: 0;
    bottom: 0;
    background: #001A0A;
    box-shadow: 0 0 20px black;
    border-right: 1px solid black;

    max-width: 20%;
    min-width: 225px;
    padding: 10px 10px 10px 15px;
    transform: translateX(-100%);
    transition: all 0.3s;

    display: flex;
    flex-direction: column;
}
.App-filters.visible {
    transform: translateX(0);
}

.App-filters h1 {
    border-bottom: 1px solid #3BFF00;
    margin: 0;
    font-size: 30px;
    position: relative;
}
.App-filters .App-filters-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 115%;
    line-height: 1;
    cursor: pointer;
}
.App-filters .App-filters-close:hover {
    opacity: 0.6;
}
.App-filters h2 {
    margin: 0 0 5px;
    padding: 0 0 5px;
    border-bottom: 1px dashed #3BFF00;
    font-size: 20px;
}

.App-filters section {
    margin: 15px 0 5px;
}
.App-filters-sections {
    overflow: auto;
}

.App-error-box {
    background: #3BFF00;
    color: #000;
    position: fixed;
    top: 20px;
    right: 20px;
    max-width: 20%;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #214621;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
